* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: ghostwhite;
  display: block;
}

li {
  list-style: none;
}

main {
  color: ghostwhite;
  background-color: rgb(11, 12, 16);
  overflow-x: hidden;
}

h1,
h2 {
  font-family: "Kanit", sans-serif;
}

h2 {
  font-weight: 300;
}

h3 {
  font-weight: 100;
}

.heading-2 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 20px;
  padding: 1% 0;
}

.text-outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.2px;
}

.fullscreen {
  height: 100vh;
  width: 100vw;
}

.fade-in {
  animation: fade-in 2s ease-in forwards;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 25%;
}

.hero-section h1 {
  font-size: 5em;
}

.hero-section h2 {
  font-size: 3em;
  transform: translateY(-30px);
}

.hello-world {
  font-family: Consolas, "Courier New", sans-serif;
  font-size: 1.5em;
  margin: 2% 0 1% 0;
  padding: 1%;
  background-color: rgb(31, 31, 37);
  border-radius: 2px;
  animation: fade-in 2s 1.5s ease-in forwards;
  opacity: 0;
}

.typed {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 2.5s;
  animation-delay: 2s;
  animation-timing-function: steps(40, end);
  animation-fill-mode: forwards;
}

.run {
  font-size: larger;
  width: 10vw;
  background-color: rgb(11, 12, 16);
  border: 2px solid ghostwhite;
  border-radius: 2px;
  animation: fade-in 2s step-end 3s forwards;
  opacity: 0;
}

.run a {
  padding: 8% 5%;
}

.run a:hover {
  color: rgb(11, 12, 16);
  background-color: ghostwhite;
  cursor: pointer;
  transition: all 0.3s linear;
}

.sections {
  padding: 0 25%;
}

.sections h2 {
  text-align: center;
  font-size: 2em;
  padding: 2% 0;
}

.keys {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-gap: 2em;
  grid-auto-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 40% 40%;
  height: 70%;
  margin-top: 5%;
}

.key a {
  display: block;
  height: 30vh;
  padding-left: 20px;
  font-family: "Kanit", sans-serif;
  font-size: 3em;
  border: 2px solid ghostwhite;
  border-radius: 5px;
  box-shadow: 0 15px rgb(82, 82, 86);
}

.key a:hover {
  color: rgb(11, 12, 16);
  background-color: ghostwhite;
  animation: fade-in 0.2s ease-in forwards;
}

.key a:active {
  box-shadow: 0 6px rgb(60, 60, 63);
  transform: translateY(4px);
}

.key a span {
  color: transparent;
}

.key a:hover span {
  color: rgb(11, 12, 16);
}

nav {
  position: absolute;
  height: calc(100% * 3);
  width: 30px;
  margin-left: 12px;
}

nav ul {
  position: sticky;
  top: 30%;
}

nav ul li a {
  display: block;
  padding: 5px;
  margin: 15px 0;
  border: 1px solid ghostwhite;
  box-shadow: 0 5px rgb(82, 82, 86);
}

nav ul li a:hover {
  color: rgb(11, 12, 16);
  background-color: ghostwhite;
  animation: fade-in 0.2s ease-in forwards;
}

nav ul li a:active {
  box-shadow: 0 1px rgb(60, 60, 63);
  transform: translateY(4px);
}

.about-me {
  height: auto;
  padding: 0 15%;
}

.intro {
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  height: 30vh;
}

.intro img {
  height: 100%;
  border-radius: 5px;
}

.intro-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2% 5%;
}

.education-and-experience-box {
  margin-top: 30px;
}

.education-and-experience {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px 10px;
  margin: 20px 0;
  border: 2px solid ghostwhite;
  border-radius: 5px;
}

.education-and-experience h3 {
  font-family: "Kanit", sans-serif;
  font-size: larger;
  margin-left: 10px;
}

.education-and-experience div {
  margin: 20px;
}

.org-name {
  font-size: large;
}

.org-title {
  font-size: medium;
}

.date {
  font-size: small;
}

.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 5%;
}

.skills {
  display: flex;
  font-family: "Kanit", sans-serif;
  font-size: larger;
  align-items: center;
}

.skills label {
  margin: 10px;
}

.skills i {
  font-size: x-large;
  margin-left: 5px;
}

.project-items {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  grid-auto-flow: column;
  height: 65vh;
  width: 100%;
  margin-top: 50px;
}

.project-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 10px;
  margin: 0 10px;
  border: 2px solid ghostwhite;
  border-radius: 2px;
}

.project-item img {
  width: 100%;
}

.project-item p {
  text-align: center;
  padding: 0 2em;
}

.project-links {
  display: flex;
}

.project-links a {
  padding: 15px 25px;
  margin: 0 10px 10px 10px;
  border: 1px solid ghostwhite;
}

.project-links a:hover {
  background-color: ghostwhite;
  color: rgb(11, 12, 16);
  animation: fade-in 0.2s ease-in forwards;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 0 15%;
  height: auto;
}

.contact-form textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 50px;
}

.form-input {
  font-family: Arial, Helvetica, sans-serif;
  color: ghostwhite;
  margin: 10px 0;
  padding: 10px;
  background-color: rgb(31, 31, 37);
  border: 2px solid transparent;
  border-radius: 5px;
}

.form-input::placeholder {
  color: ghostwhite;
  opacity: 0.5;
}

.submit-button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: ghostwhite;
  margin-top: 10px;
  padding: 10px;
  background: transparent;
  border: 3px solid ghostwhite;
  border-radius: 5px;
}

.submit-button:hover {
  color: rgb(11, 12, 16);
  background-color: ghostwhite;
  animation: fade-in 0.2s ease-in forwards;
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: space-around;
  font-size: 2em;
  color: ghostwhite;
  margin: 5% auto;
  width: 50%;
}

.icons a i:hover {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.8px;
  text-shadow: 2px 2px 17px rgba(248, 248, 255, 0.56);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .intro {
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
  }

  .intro img {
    width: 100%;
    margin-bottom: 5%;
  }

  .intro-info p {
    padding: 2% 0;
  }
}
